body{
  background-color: #f7a922;
}

header {
text-align: center;
position: fixed;
top: 0;
right:0;
left:0;
font-family: 'Ubuntu', sans-serif;
background-color: #B1740F;
}

footer {
background-color: #B1740F;
text-align: center;
font-family: 'Ubuntu', sans-serif;
position: fixed;
bottom: 0;
right: 0;
left: 0;
}
main {
background-color: #FFD07B;
width: 700px;
height: 100%;
margin: auto;
padding-top: 50px;
text-align: left;
padding-left: 5px;
font-family: 'Ubuntu', sans-serif;
}
a:hover{
color: #FFD07B;
text-decoration: none;
}
a:link{
  text-decoration: none;
}
#footerbar{
  color: #FFD07B;
}
#gif.center{
  display: block;
  margin: auto;
}
